* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 20px;
  width: auto;
}
.nav {
  background-color: #008085;
  color: #fff;
  padding: 10px 0;
}
.nav-brand {
  font-size: 1.4rem;
  padding-right: 10px;
}

.board {
  position: relative;
  margin-top: 20px;
}

.scores {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.tile {
  border-top: 1px solid black;
  border-left: 1px solid black;
  position: absolute;
  height: 40px;
  width: 40px;
}

.mark {
  opacity: 0.5
}